body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #E6E6FA;
}

header {
    background-color: #87CEFA;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

main {
    padding: 20px;
}

.about-me, .contact, .photo, .resume { 
    background-color: #FFFFFF; 
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.photo {
    text-align: center;
}

#profile-pic {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.resume iframe {
    border: 1px solid #ccc; 
}

/* CSS for responsive image */
.responsive-resume {
    max-width: 100%; 
    height: auto; 
}
